[versions]

kotlin = "1.7.20"
androidx-core = "1.9.0"
camerax = "1.1.0"
compose = "1.2.1"
compose-compiler = "1.3.2"
compose-lifecycle = "2.6.0-alpha01"
appcompat = "1.4.0"
material = "1.6.1"
material3 = "1.0.0-alpha14"
lifecycle = "2.5.1"
navigation = "2.5.2"
accompanist = "0.25.1"
coil = "2.2.2"
koin = "3.3.0"
datastore = "1.0.0"
kotlinx-serialization = "1.4.1"
exoplayer = "2.18.1"
zxing = "3.5.0"

[libraries]

androidx-core = { module = "androidx.core:core", version.ref = "androidx-core" }

lifecycle = { module = "androidx.lifecycle:lifecycle-runtime-ktx", version.ref = "lifecycle" }
lifecycle-viewmodel = { module = "androidx.lifecycle:lifecycle-viewmodel-savedstate", version.ref = "lifecycle" }

compose-activity = { module = "androidx.activity:activity-compose", version.ref = "appcompat" }

compose-runtime = { module = "androidx.compose.runtime:runtime", version.ref = "compose" }
compose-ui = { module = "androidx.compose.ui:ui", version.ref = "compose" }
compose-tooling-preview = { module = "androidx.compose.ui:ui-tooling-preview", version.ref = "compose" }
compose-ui-tooling = { module = "androidx.compose.ui:ui-tooling", version.ref = "compose" }

compose-foundation = { module = "androidx.compose.foundation:foundation", version.ref = "compose" }
compose-material3 = { module = "androidx.compose.material:material", version.ref = "compose" }
compose-navigation = { module = "androidx.navigation:navigation-compose", version.ref = "navigation" }

compose-lifecycle = { module = "androidx.lifecycle:lifecycle-runtime-compose", version.ref = "compose-lifecycle" }

material = { module = "com.google.android.material:material", version.ref = "material" }

coil = { module = "io.coil-kt:coil-compose", version.ref = "coil" }
coil-video = { module = "io.coil-kt:coil-video", version.ref = "coil" }

koin = { module = "io.insert-koin:koin-androidx-compose", version.ref = "koin" }

datastore = { module = "androidx.datastore:datastore-preferences", version.ref = "datastore" }

kotlinx-serialization-json = { module = "org.jetbrains.kotlinx:kotlinx-serialization-json", version.ref = "kotlinx-serialization" }

exoplayer = { module = "com.google.android.exoplayer:exoplayer", version.ref = "exoplayer" }

camerax-core = { module = "androidx.camera:camera-core", version.ref = "camerax" }
camerax-camera2 = { module = "androidx.camera:camera-camera2", version.ref = "camerax" }
camerax-lifecycle = { module = "androidx.camera:camera-lifecycle", version.ref = "camerax" }
camerax-view = { module = "androidx.camera:camera-view", version.ref = "camerax" }

zxing-core = { module = "com.google.zxing:core", version.ref = "zxing" }

accompanist-permissions = { module = "com.google.accompanist:accompanist-permissions", version.ref = "accompanist" }

dokka = { module = "org.jetbrains.dokka:dokka-core", version.ref = "kotlin" }

[bundles]

compose = [
    "compose-runtime",
    "compose-ui",
    "compose-tooling-preview",
    "compose-ui-tooling",
    "compose-foundation"
]

internal-camerax = [
    "camerax-camera2",
    "camerax-lifecycle",
    "camerax-view"
]
