[versions]

# Camposer libraries

kotlin = "2.2.10"
dokka = "2.0.0"
gradle = "8.12.3"
gradle-nexus = "2.0.0"
androidx-test = "1.7.0"
camerax = "1.5.0"
compose-bom = "2025.09.01"
kotlinx-io = "0.8.0"

# Sample app libraries

androidx-core = "1.17.0"
exoplayer = "2.19.1"
zxing = "3.5.3"
cloudy = "0.2.7"
appcompat = "1.10.1"
material = "1.12.0"
lifecycle = "2.9.2"
navigation = "2.9.3"
kotlinx-serialization = "1.9.0"
accompanist = "0.37.3"
coil = "2.7.0"
koin = "4.1.0"
datastore = "1.1.7"
compose-multiplatform = "1.8.2"
media-kmp = "2.0.6"

[libraries]

androidx-core = { module = "androidx.core:core", version.ref = "androidx-core" }

lifecycle = { module = "androidx.lifecycle:lifecycle-runtime-ktx", version.ref = "lifecycle" }
lifecycle-viewmodel = { module = "androidx.lifecycle:lifecycle-viewmodel-savedstate", version.ref = "lifecycle" }

compose-activity = { module = "androidx.activity:activity-compose", version.ref = "appcompat" }

compose-bom = { module = "androidx.compose:compose-bom", version.ref = "compose-bom" }
compose-runtime = { module = "androidx.compose.runtime:runtime" }
compose-ui = { module = "androidx.compose.ui:ui" }
compose-tooling-preview = { module = "androidx.compose.ui:ui-tooling-preview" }
compose-ui-tooling = { module = "androidx.compose.ui:ui-tooling" }

compose-foundation = { module = "androidx.compose.foundation:foundation" }
compose-material3 = { module = "androidx.compose.material:material" }
compose-material3-icons = { module = "androidx.compose.material:material-icons-extended" }
compose-navigation = { module = "androidx.navigation:navigation-compose", version.ref = "navigation" }

compose-lifecycle = { module = "androidx.lifecycle:lifecycle-runtime-compose", version.ref = "lifecycle" }

material = { module = "com.google.android.material:material", version.ref = "material" }

coil = { module = "io.coil-kt:coil-compose", version.ref = "coil" }
coil-video = { module = "io.coil-kt:coil-video", version.ref = "coil" }

koin = { module = "io.insert-koin:koin-androidx-compose", version.ref = "koin" }

datastore = { module = "androidx.datastore:datastore-preferences", version.ref = "datastore" }

kotlinx-serialization-json = { module = "org.jetbrains.kotlinx:kotlinx-serialization-json", version.ref = "kotlinx-serialization" }

exoplayer = { module = "com.google.android.exoplayer:exoplayer", version.ref = "exoplayer" }

camerax-camera2 = { module = "androidx.camera:camera-camera2", version.ref = "camerax" }
camerax-lifecycle = { module = "androidx.camera:camera-lifecycle", version.ref = "camerax" }
camerax-view = { module = "androidx.camera:camera-view", version.ref = "camerax" }

zxing-core = { module = "com.google.zxing:core", version.ref = "zxing" }

accompanist-permissions = { module = "com.google.accompanist:accompanist-permissions", version.ref = "accompanist" }

cloudy = { module = "com.github.skydoves:cloudy", version.ref = "cloudy" }

kotlinx-io = { module = "org.jetbrains.kotlinx:kotlinx-io-core", version.ref = "kotlinx-io" }
media-kmp = { module = "io.github.khubaibkhan4:mediaplayer-kmp", version.ref = "media-kmp" }

androidx-test-core = { module = "androidx.test:core-ktx", version.ref = "androidx-test" }
androidx-test-rules = { module = "androidx.test:rules", version.ref = "androidx-test" }

[bundles]

compose = [
    "compose-runtime",
    "compose-ui",
    "compose-tooling-preview",
    "compose-ui-tooling",
    "compose-foundation"
]

internal-camerax = [
    "camerax-camera2",
    "camerax-lifecycle",
    "camerax-view"
]

[plugins]

application = { id = "com.android.application", version.ref = "gradle" }
library = { id = "com.android.library", version.ref = "gradle" }
kotlin-android = { id = "org.jetbrains.kotlin.android", version.ref = "kotlin" }
kotlin-serialization = { id = "org.jetbrains.kotlin.plugin.serialization", version.ref = "kotlin" }
kotlin-multiplatform = { id = "org.jetbrains.kotlin.multiplatform", version.ref = "kotlin" }
kotlin-multiplatform-library = { id = "com.android.kotlin.multiplatform.library", version.ref = "gradle" }
dokka = { id = "org.jetbrains.dokka", version.ref = "dokka" }
dokka-java-doc = { id = "org.jetbrains.dokka-javadoc", version.ref = "dokka" }
gradle-nexus = { id = "io.github.gradle-nexus.publish-plugin", version.ref = "gradle-nexus" }
compose-compiler = { id = "org.jetbrains.kotlin.plugin.compose", version.ref = "kotlin" }
compose-multiplatform = { id = "org.jetbrains.compose", version.ref = "compose-multiplatform" }
