name: Android Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ '*' ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        api-level: [23, 26, 31, 34]
        include:
          - api-level: 23
            arch: 'x86'
            target: default
          - api-level: 26
            arch: 'x86_64'
            target: default
          - api-level: 31
            arch: 'x86_64'
            target: google_apis
          - api-level: 34
            arch: 'x86_64'
            target: google_apis
    steps:
      - name: Check out code
        uses: actions/checkout@v6.0.1
      - name: Set up JDK
        uses: actions/setup-java@v5.1.0
        with:
          distribution: 'zulu'
          java-version: 21

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Enable KVM group perms
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: Gradle cache
        uses: gradle/actions/setup-gradle@v4

      - name: AVD cache
        uses: actions/cache@v4
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-${{ matrix.api-level }}

      - name: Create AVD and generate snapshot for caching
        if: steps.avd-cache.outputs.cache-hit != 'true'
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{ matrix.api-level }}
          arch: ${{ matrix.arch }}
          target: ${{ matrix.target }}
          force-avd-creation: false
          emulator-options: -no-window -no-boot-anim -camera-back emulated -camera-front emulated -gpu swiftshader_indirect -metrics-collection
          disable-animations: false
          script: echo "Generated AVD snapshot for caching."

      - name: Run android tests
        uses: reactivecircus/android-emulator-runner@v2
        env:
          ANDROID_EMULATOR_WAIT_TIME_BEFORE_KILL: 60
        with:
          api-level: ${{ matrix.api-level }}
          target: ${{ matrix.target }}
          arch: ${{ matrix.arch }}
          disable-animations: true
          force-avd-creation: false
          emulator-options: -no-snapshot-save -no-window -no-boot-anim -no-metrics -camera-back emulated -camera-front emulated -gpu swiftshader_indirect
          script: ./gradlew connectedAndroidTest --stacktrace
