name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ '*' ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6.0.1
      - name: Set up JDK
        uses: actions/setup-java@v5.1.0
        with:
          distribution: 'zulu'
          java-version: 21
      - name: spotless
        run: ./gradlew spotlessCheck

  abi_check:
    name: API check
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6.0.1
      - name: Set up JDK
        uses: actions/setup-java@v5.1.0
        with:
          distribution: 'zulu'
          java-version: 21
      - name: API check
        run: ./gradlew checkLegacyAbi
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6.0.1
      - name: Set up JDK
        uses: actions/setup-java@v5.1.0
        with:
          distribution: 'zulu'
          java-version: 21

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: build
        run: ./gradlew clean build
