name: Publish docs

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:
  docs:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v6.0.1
      - name: Set up JDK
        uses: actions/setup-java@v5.1.0
        with:
          distribution: 'zulu'
          java-version: 21

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Generate dokka (doc)
        run: ./gradlew dokkaGeneratePublicationHtml

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.8

      - name: Deploy MKDocs
        run: |
          pip3 install -r .github/docs-requirements.txt
          mkdocs build

      - name: Deploy to Github Pages
        uses: JamesIves/github-pages-deploy-action@3.7.1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: site